<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recommender</title>

  <!-- Bootstrap CSS and other dependencies -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/input.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="https://open.spotify.com/" target="_blank"><img src="../static/images/spotify_logo.png"
        style="width: 50px; height: 50px; margin: 4px;"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" id="mediadrop">
        <li class="nav-item">
          <a class="nav-link" href="/" id="colorscheme">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/dabidma/Spoti-Find" target="_blank"
            id="colorscheme">SPOTI-FIND</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/input" id="colorscheme">RECOMMENDER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" id="colorscheme">ABOUT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            CONTACT US
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.linkedin.com/in/david-ma-21bb68233" target="_blank">David Ma</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/carolyn-johnson-91b711107"
              target="_blank">Carolyn Johnson</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/yonas-michael-a99162128" target="_blank">Yonas
              Michael</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/wkillettejr" target="_blank">Wendell Killette</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/dejan-savic" target="_blank">Dejan Savic</a>
            <a class="dropdown-item" href="https://github.com/zachevans39" target="_blank">Zach Evans</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Our rows function in containers (grid created). -->
  <br>
  <div class="container">
    <div class="row">
      <div class="input-playlist mx-auto">
        <h2>Input your Spotify Playlist link</h2>
        <!-- <br> -->
        <div class="ml-container">
          <form action="{{ url_for('recommendations') }}" id="form" method="POST">
            <input class="input" type="text" name="URL" value="{{ URL }}">
            <br>
            <label for="recommend-size">How many songs would you like to have
              suggested?</label>
            <select name="recommend-size" id="recommend-size" form="form">
              <option value="5" {% if recommend_size == 5 %}selected{% endif %}>5</option>
              <option value="10" {% if recommend_size == 10 %}selected{% endif %}>10</option>
              <option value="15" {% if recommend_size == 15 %}selected{% endif %}>15</option>
              <option value="20" {% if recommend_size == 20 %}selected{% endif %}>20</option>
            </select>
            <br>
            <input class="button" form="form" value="Click to make the magic happen!" type="submit">
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="recommendations">
      {% block recommendations %}
      {% endblock %}
    </div>
  </div>

</body>

</html>