{% extends "input.html" %}
{% block recommendations %}
<div class="recommendations">
    <div class="row">
        <div class="col-lg-6 col-md-12" id="spacing">
            <h2>Current Playlist</h2>
            {% if user_playlist|length > 1 %}
            {% for track in user_playlist.iterrows() %}
            <div class="card">
                <a href="{{ track[1]['album_url'] }}" target="_blank"><img src="{{ track[1]['album_art'] }}"
                        onerror="this.onerror=null;this.src='../static/images/default_cover_art.png';"
                        class="cover-art"></a>
                <p class="song-info"><b><a href="https://open.spotify.com/track/{{track[1]['id']}}" target="_blank">{{
                            track[1]['artist'] }} -
                            {{ track[1]['title'] }}</a></b></p>
            </div>
            {% endfor %}
            {% else %}
            <div class="card">
                <p id="error"><b>Sorry, it seems you have entered an invalid link. Please try again with
                        another playlist link.</b></p>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-12" id="spacing">
            <h2>Recommended Songs</h2>
            {% if recommended_songs|length > 1 %}
            {% for track in recommended_songs.iterrows() %}
            <div class="card">
                <a href="{{ track[1]['album_url'] }}" target="_blank"><img src="{{ track[1]['album_art'] }}"
                        onerror="this.onerror=null;this.src='../static/images/default_cover_art.png';"
                        class="cover-art"></a>
                <p class="song-info"><b><a href="https://open.spotify.com/track/{{track[1]['id']}}" target="_blank">{{
                            track[1]['artist'] }} -
                            {{ track[1]['title'] }}</a></b></p>
            </div>
            {% endfor %}
            {% else %}
            <div class="card">
                <p id="error"><b>Sorry, it seems like we are missing some information on our side. Please try
                        again with another playlist link.</b></p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}